{% load static %}
{% load avatar_tags %}

<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial=scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create a New User</title>

    <link rel="stylesheet" type="text/css" href="{% static 'login/create.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
    <script src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script>
     $(function() {
       $('#main').addClass('backgroundOverlay');
     });
    </script>

</head>

 <body>
  <div id="main">
  <h1>Create User <img src="{% static "login/media/inventure_logo.png" %}"></h1>

  <div id="create_form">
  <form method="post">{% csrf_token %}<div id="account_type">
    <p>Account Type</p><ul id="id_entrepreneur">

    <br>
    <center>
    <li>
         <input type="radio" name="entrepreneur" value="1" required="" id="id_entrepreneur_0">
         <label for="id_entrepreneur_0">Venture Capitalist</label>
    </li>
        <li>
         <input type="radio" name="entrepreneur" value="2" required="" id="id_entrepreneur_1">
         <label for="id_entrepreneur_1">Entrepreneur</label>
    </li>
    </center>
    <br>
    </ul>
    </div>

    <span class="has-float-label">
       <input class="form-control" placeholder="Enter Email Address" type="email" name="email" autofocus="" required="" id="id_email" maxlength="255">
       <label for="id_email">Email Address</label>
    </span>

    <span class="has-float-label">
       <input class="form-control" placeholder="Enter Company/Firm Name" type="text" name="company_name" required="" id="id_company_name" maxlength="255">
       <label for="id_company_name">Company Name</label>
    </span>



    <span class="has-float-label">
       <input class="form-control" placeholder="Enter First Name" type="text" name="first_name" required="" id="id_first_name" maxlength="150">
       <label for="id_first_name">First Name</label>
    </span>

    <span class="has-float-label">
       <input class="form-control" placeholder="Enter Last Name" type="text" name="last_name" required="" id="id_last_name" maxlength="150">
       <label for="id_last_name">Last Name</label>
    </span>
    <br>
    <span class="has-float-label">
       <input class="form-control" placeholder="Enter Role in Company" type="text" name="role" required="" id="id_role" maxlength="255">
       <label for="id_role">Role</label>
    </span>
    <span class="has-float-label">
       <input class="form-control" type="file" name="avatar" required="" id="id_avatar">
       <label for="id_avatar">Avatar</label>
    </span>
    <br>
    <span class="has-float-label">
       <input class="form-control" placeholder="Enter Password" type="password" name="password" autofocus="" required="" id="id_password">
       <label for="id_password">Password</label>
    </span>
    <span class="has-float-label">
       <input class="form-control" placeholder="Enter Password Again" type="password" name="confirm_password" required="" id="id_confirm_password">
       <label for="id_confirm_password">Confirm Password</label>
    </span>

    <center><input type="submit" value="Join inVenture+"></center>
  </form></div>
  </div>
</body>
