{% load static %}
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial=scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Login to Inventure+</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/min.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
    <script src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script>
    </script>    

</head>

<body>

<div id="login">
    <div id="left_col">
        <img src="../../static/mediainventure_logo.png">
        <h2>Welcome</h2>
        <h3>Register for an account here.</h3>
        <p>[ About inVenture+ here. ]</p>
        <button>Register Here</button>
    </div>
    <div id="right_col">
        <h3>Or login to your account now.</h3>
        <button>Login</button> <button>Forgot password?</button>
    </div>
</div>

</body></html>