{% load static %}

<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial=scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Dashboard</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'users/dashboard.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
    <script src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script>
     $(function() {
       $('#header').addClass('backgroundOverlay'); 
     });
    </script>    

</head>

 <body>
  <div id="main">
  <div id="header">
    <h1>Welcome {{user.first_name}} {{user.last_name}}.</h1>
    <div class="logo"><img src="{% static "users/media/inventure_logo.png" %}"></div>
    <div id="nav">
     <a href="">dashboard</a>
     <a href="">about inventure+</a>
     <a href="">contact + faq</a>
    </div>
  </div>
  <!--<img src="{% static 'media/inventure.png' %}">-->
  <div id="information_form">
  <a href="google.com">
   <div id="messaging">
    <center>
     <img src="{% static "users/media/chat-2.png" %}">
    </center>
    
   </div>
  </a>
  <a href="{% url 'users:questions'%}">
   <div id="questions">
    <center>
     <img src="{% static "users/media/paper-plane.png" %}">
    </center>
   </div>
  </a>
  <a href="google.com">
   <div id="matches">
    <center>
     <img src="{% static "users/media/star.png" %}">
    </center>
    
   </div>
  </a>
  </div>
  </div>
</body>